.header {
  width: 100%;
  height: 80px;
  background-color: #003333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .back-area,
.header .logo-area,
.header .search-area {
  display: flex;
}

.header .back-area .back {
  width: 60px;
  height: 60px;
}

.header .logo-area .logo {
  height: 80px;
}

.header .search-area .search {
  width: 50px;
  height: 50px;
}
