/* HEADER COMMON */
.header {
  width: 612px;
  height: 80px;
  background-color: #003333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .back-area,
.header .logo-area,
.header .search-area {
  display: flex;
}

/* HEADER BACK BUTTON */
.header .back-area .back {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

/* HEADER LOGO IMG */
.header .logo-area .logo {
  height: 80px;
}

/* HEADER SEARCH BUTTON */
.header .search-area .search {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
