.App {
  margin: 100px;
  width: 615px;
  border: 3px solid black;
  box-sizing: border-box;
}

.body {
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid red;
}

.body .tab-navigation {
  margin-top: 50px;
}

.body .tab-navigation h3 {
  color: rgb(99, 99, 99);
}
