/* MAIN COMMON */
.App {
  margin: 100px;
  width: 615px;
  border: 3px solid black;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  margin-left: 30px;
  margin-right: 30px;
  border-top: 1px solid white;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red;
}

/* MAIN BODY FIRST */
.body .main-body-first {
  margin-top: 50px;
}

.body .main-body-first h2 {
  color: rgb(99, 99, 99);
}

.body .main-body-first .swiper-area {
  height: 240px;
  margin-top: 5%;
}

.body .main-body-first .tab-title {
  height: 20%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.body .main-body-first .tab-contents {
  height: 80%;
}

.body .main-body-first .tab-title .title {
  font-size: 15pt;
  text-align: center;
}

.body .main-body-first .tab-title .swiper-slide-thumb-active .title {
  font-weight: bold;
  color: #003333;
  padding-bottom: 10px;
  border-bottom: 3px solid #003333;
}

.body .main-body-first .tab-contents .swiper-wrapper {
  display: flex;
}

.body .main-body-first .tab-contents .contents {
  text-align: center;
}

/* MAIN BODY SECOND */
.body .main-body-second h2 {
  color: rgb(99, 99, 99);
}

.body .main-body-second .btn--link {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 2px 2px rgb(144, 144, 144);
  font-size: medium;
}

/* MAIN BODY SECOND EXAMPLE */
.body .main-body-second .news-area img {
  width: 100%;
}
