.App {
  padding-left: 30px;
  padding-right: 30px;
  margin: 100px auto;
  width: 375px;
  border: 3px solid black;
}

.header {
  width: 100%;
  height: 100px;
  background-color: rgba(90, 86, 86, 0.522);
  display: flex;
}

.body {
  border: 1px solid red;
  background-color: rgba(90, 86, 86, 0.522);
}

.footer {
  height: 100px;
  background-color: rgba(90, 86, 86, 0.522);
}

.logo {
  height: 80px;
  margin-top: 10px;
  margin-left: 0;
  margin-right: auto;
}

.user-state {
  width: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
}

.user-desc h2 {
  font-size: 12pt;
}
.user-desc p {
  font-size: 10pt;
}

.user-img {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  background-image: url("./image/seungminhead.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer .footer-img {
  width: 100%;
  background-image: url("./image/img_5.png");
}
